body {
    background-color: #1A1924;
    color: #FFF;
}
/* C25F07 橘色*/
/* 04F174 绿色 */
.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

.grid {
    display: grid;
}

.search-bar {
    justify-content: center;
    align-content: center;
    height: 100vh;
    gap: 20PX;
}

.search-eare {
    grid-template-columns: 7fr 3fr;
    gap: 20PX;
}

H1 {
    text-align: center;
}

input {
    width: 300PX;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 22px;
}

.btn {
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    background-color: #C25F07;
    cursor: pointer;
}